# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
*.env

# VSCode
.vscode/

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/.env

# System
.DS_Store
Thumbs.db

.idea

